* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

:root {
  --black: #080808;
  --black2: #131313;
  --azul: #239895;
  --azul2: #00ffef;
}

body {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  max-height: auto;
  background-color: var(--black2);
}

span {
  color: var(--azul2);
  text-shadow: 0px 0px 15px var(--azul);
}

.linha {
  width: 100px;
  height: 3px;
  border-radius: 20px;
  /* background-color: var(--azul); */
  background-color: #fff;
  position: absolute;
  bottom: 20px;
  transition: 0.3s;
  box-shadow: 5px 2px 15px var(--azul2);
}