* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --preto: #000;
  --branco: #fff;
  --azul-claro: #0078ed;
  --azul-escuro: #003ea9;
  --cinza: #4b4b4b;
  --degrade-azul: linear-gradient(to bottom, var(--azul-claro) 10%, var(--azul-escuro) 20%);
  --degrade-branco-azul: linear-gradient(to bottom, var(--branco) 70%, var(--azul-claro));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}